<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>こんちわ</h1>
  <h2>
    <%= userId %>さん、こんにちは！
  </h2>
  <a href="/users">link</a>
  <form action="/api/users/?_method=DELETE" method="POST">
    <input type="text" name="name" placeholder="名前">
    <input type="submit" value="登録">
  </form>

</body>

</html>