<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD</title>
  <link href="../../public/style.css" rel="stylesheet" />
</head>

<body>
  <div class="c-container">
    <h1 class="c-title-01"><%= user.name %>さんのページを編集する</h1>
    <p class="mb-5 text-xl">
      ID：<%= user.id %>
    </p>
    <p class="mb-5 text-xl">
      ユーザー名：<%= user.name %>さん
    </p>
    <a class="c-link" href="/users">一覧ページへ</a>
    <form class="mb-5" action="/api/users/<%= user.id %>/edit/?_method=PATCH" method="POST">
      <div class="mb-20">
        <label for="name" class="block name mb-2">ユーザー名の変更</label>
        <input class="c-input" type="text" name="name" placeholder="名前">
      </div>
      <button class="c-button" type="submit">
        変更する
      </button>
    </form>
  </div>
</body>

</html>
