<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../public/style.css" rel="stylesheet" />
</head>

<body>
  <div class="c-container">
    <h1 class="c-title-01">編集する</h1>
    <p class="mb-5 text-xl">
      コメントID: <%= user.id %><br>
    </p>
    <p class="mb-5 text-xl">
      コメント: <%= user.name %><br>
    </p>
    <a class="c-link" href="/users">一覧へ</a>
    <a class="c-link" href="/users/<%= user.id %>/edit">編集</a>
    <form class="mb-5" action="/api/users/<%= user.id %>/edit/?_method=PATCH" method="POST">
      <label for="name">ユーザー名の変更</label>
      <input type="text" name="name" placeholder="名前">
      <button class="c-button" type="submit">
        変更
      </button>
    </form>
  </div>
</body>

</html>
