<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD</title>
  <link href="../public/style.css" rel="stylesheet" />
</head>

<body>
  <div class="c-container">
    <h1 class="c-title-01">一覧ページ</h1>
    <ul class="mb-20">
      <% for (let u of users) { %>
        <li class="mb-10 last:mb-0">
          <h2 class="c-title-02">
            <%= u.name %>
          </h2>
          <a class="c-link" href="/users/<%= u.id %>">詳細ページへ</a>
        </li>
        <% } %>
    </ul>
    <a class="c-link mx-auto" href="/">TOP</a>
  </div>
</body>

</html>