<!DOCTYPE html>
<html lang="jp">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../public/style.css" rel="stylesheet" />
</head>

<body>
  <div class="c-container">
    <h1 class="c-title-01">リスト</h1>
    <ul>
      <% for (let u of users) { %>
        <li>
          <h2>
            <%= u.name %>
          </h2>
          <a class="c-link" href="/users/<%= u.id %>">詳細</a>
        </li>
        <% } %>
    </ul>
    <a class="c-link" href="/">TOP</a>
  </div>
</body>

</html>